[submodule "pyvircurex"]
	path = pyvircurex
	url = https://github.com/area/pyvircurex.git
	
[submodule "btce-api"]
	path = btce-api
	url = https://github.com/area/btce-api.git
[submodule "PyCryptsy"]
	path = PyCryptsy
	url = https://github.com/salfter/PyCryptsy.git
