#---------------------------------------
# Cryptocurrency mining switcher config file
# TipJar (BTC): 1NhathL6LpcgofDnHELSS6Hej6kU9xrVgp
# Author: area
#---------------------------------------

#Enable the coins you want to mine here.
[MineCoins]
minebtc = True
mineltc = True
mineppc = False
minenvc = False
minetrc = False
minebte = False
minesc = False
minefrc=False
mineftc=False
minemnc=False
#If you want to mine vanity addresses, then set this to True
minevanity = False

#If you're merged mining some altcoins when you're bitcoin mining, set
#the relevant coins below to 'True'
mmNMC=True
mmDVC=True
mmIXC=True

#You should have scripts that stop all other forms of mining, set
#your clocks and environment variables appropriately, and start
# mining the appropriate coin. I have these called 'litecoin.sh',
# 'bitcoin.sh' etc., but edit and/or replace these as you see fit.
#Any coins you aren't mining you can just leave blank.
#For Windows you can use bat-files, eg "btcscript = bitcoin.bat".

[Scripts]
ltcscript = ./litecoin.sh
btcscript = ./bitcoin.sh
vanityscript = 
ppcscript = 
nvcscript = 
trcscript = 
scscript = 
frcscript = 
btescript =
ftcscript = 
mncscript = 

#Set specific fee for every coin (in percent). The fee simply adds to the
#profitability before calculating the most profitable coin. Negative values are
#also allowed, they increase the profitability.

[Fees]
feebtc = -1
feeltc = 0
feeppc = 7
feenvc = 0
feetrc = 15
feebte = 0
feesc = 0
feefrc = 0
feeftc = 0
feemnc = 0

[Misc]
#What source for our data should we use? ChooseCoin is probably better,
#in that it lists more coins. Coinotron seems to be updated most frequently.
source=coinchoose
#source=dustcoin
#source=coinotron


#Idle Time (in minutes) between two checks of coin profitability.
idletime = 5

#And now some information to calculate Vanity Address mining profitability.
#The figures that go in here depend on your hardware. If you're not doing
#vanity mining, you can leave these blank.
#Gigakeys per second you can test
gkeypersec = 0.05
#Gigahash per second you can output doing normal BTC mining.
ghashpersec = 0.7

[Sell]
#If you want to sell your coins on BTCE ASAP, then there's a bit more setup for you
enableBTCE = False
#or sell on VirCurEx
enableVircurex = False
vircurexSecret =
vircurexUsername =

#And flag which coins you want to sell as they come in. These coins will only
#sell for BTC, not for USD or any other cryptocoin.
sellLTC = False
sellNMC = False
sellTRC = False
sellPPC = False
sellNVC = False
sellIXC = True
sellDVC = True

#Now edit the file called 'key.sample' to contain your api key, your secret,
#and a nonce on three separate lines if you're using BTCE. If you haven't used
#the key before, a nonce of '100' should be fine. Rename 'key.sample' to 'key'.

#if you're using VirCurEx, then put your secret word here. Currently, this is the
#for every API function.
vircurexWord = secretWord
