# -------------------------------------------------#
# Cryptocurrency mining switcher config file       #
# TipJar (BTC): 1NhathL6LpcgofDnHELSS6Hej6kU9xrVgp #
# Author: area                                     #
# -------------------------------------------------#


################################################################################
[MineCoins]

# Enable the coins you want to mine here.
mineALF = False
mineAMC = False
mineANC = False
mineARG = False
mineASC = False
mineAUR = False
mineBFC = False
mineBQC = False
mineBTB = False
mineBTC = True
mineBTE = False
mineBTG = False
mineCAP = False
mineCGB = False
mineCNC = False
mineCRC = False
mineDEM = False
mineDGC = False
mineDMD = False
mineDOGE = False
mineEAC = False
mineEMD = False
mineELC = False
mineEZC = False
mineFRC = False
mineFRK = False
mineFST = False
mineFTC = False
mineGDC = False
mineGLC = False
mineHBN = False
mineHYC = False
mineKGC = False
mineLBW = False
mineLKY = False
mineLOT = False
mineLTC = True
mineMEC = False
mineMEM = False
mineMNC = False
mineMOON = False
mineNBL = False
mineNRB = False
mineNVC = False
minePPC = False
minePXC = False
mineSBC = False
mineSPT = False
mineSXC = False
mineTGC = False
mineTIPS = False
mineTRC = False
mineUNO = False
mineWDC = False
mineXJO = False
mineZET = False

# Listed against LTC only (currently unusable by CS)
mineDBL = False
mineGLD = False
mineJKC = False
mineRYC = False

# No data available from sources
minePWC = False
mineMEC = False
mineYAC = False

# BTC Merged mining coins. Will be added to Bitcoin profitibilty when enabled.
mineDVC = True
mineIXC = True
mineI0C = False
mineNMC = True

# Enable to mine vanity addresses.
mineVANITY = False


################################################################################
[Scripts]

# You should have scripts that stop all other forms of mining, set all necesary
#  environment variables, and start mining the appropriate coin.

# Examples included are 'litecoin.sh.sample' and 'bitcoin.sh.sample'.
# Any coins you aren't mining you can just leave blank.
# For Windows you can use bat-files, eg "BTCscript = bitcoin.bat".
ALFscript = 
AMCscript = 
ANCscript = 
ARGscript = 
ASCscript = 
AURscript = 
BFCscript = 
BQCscript = 
BTBscript = 
BTCscript = bitcoin.bat
BTEscript = 
BTGscript = 
CAPscript = 
CGBscript = 
CNCscript = 
CRCscript = 
DBLscript = 
DEMscript = 
DGCscript = 
DMDscript = 
DOGEscript = 
EACscript = 
EMDscript = 
ELCscript = 
EZCscript = 
FRCscript = 
FRKscript = 
FSTscript = 
FTCscript = 
GDCscript = 
GLCscript = 
GLDscript = 
HBNscript = 
HYCscript = 
KGCscript = 
JKCscript = 
LBWscript = 
LKYscript = 
LOTscript = 
LTCscript = ./litecoin.sh
MECscript = 
MEMscript = 
MNCscript = 
MOONscript = 
NBLscript = 
NRBscript = 
NVCscript = 
PPCscript = 
PWCscript = 
PXCscript = 
RYCscript = 
SBCscript = 
SPTscript = 
SXCscript = 
TGCscript = 
TIPSscript = 
TRCscript = 
UNOscript = 
WDCscript = 
XJOscript = 
YACscript = 
ZETscript = 

VANITYscript =


################################################################################
[Fees]

# Set specific fees for every coin (in percent).
# The fee simply adds to the profitability before calculating the most profitable coin.
# Negative values are also allowed, they increase the profitability.
feeALF = 0
feeAMC = 0
feeANC = 0
feeARG = 0
feeASC = 0
feeAUR = 0
feeBFC = 0
feeBQC = 0
feeBTB = 0
feeBTC = 1.5
feeBTE = 0
feeBTG = 0
feeCAP = 0
feeCGB = 0
feeCNC = 0
feeCRC = 0
feeDBL = 0
feeDEM = 0
feeDGC = 0
feeDMD = 0
feeDOGE = 0
feeEAC = 0
feeEMD = 0
feeELC = 0
feeEZC = 0
feeFRC = 0
feeFRK = 0
feeFST = 0
feeFTC = 0
feeGDC = 0
feeGLC = 0
feeGLD = 0
feeHBN = 0
feeHYC = 0
feeKGC = 0
feeJKC = 0
feeLBW = 0
feeLKY = 0
feeLOT = 0
feeLTC = 2
feeMEC = 0
feeMEM = 0
feeMNC = 0
feeMOON = 0
feeNBL = 0
feeNRB = 0
feeNVC = 0
feePPC = 0
feePWC = 0
feePXC = 0
feeRYC = 0
feeSBC = 0
feeSPT = 0
feeSXC = 0
feeTGC = 0
feeTIPS = 0
feeTRC = 0
feeUNO = 0
feeWDC = 0
feeXJO = 0
feeYAC = 0
feeZET = 0


################################################################################
[Data-Source]

# Source list for determining mining profitability.
# The first entry in the source list has the highest priority and is used first.
# If the site is down or a certain coin is not found the next source is used.
# Available sources: cryptoswitcher, coinotron, coinchoose, dustcoin
source=coinotron, coinchoose, dustcoin

# If using CryptoSwitcher as a source, list markets to source prices from.
# Difficulty is acquired from coinchoose and cryptocoinexplorer.
# Available sources: btce, bter, vircurex, cryptsy
source_cryptoswitcher=btce, bter, vircurex, cryptsy

# Hashrates used in calculations when using CryptoSwitcher as a source.
# Measured in hashes per second. Can be acquired by testmining with cgminer.
# sha256 is used by Bitcoin etc. while scrypt is used by Litecoin etc.
hashrate_sha256=1350000
hashrate_scrypt=1450


################################################################################
[Misc]

# Idle Time (in minutes) between two checks of coin profitability.
idletime = 5

# Gigahash per second you can output doing normal BTC mining.
ghashpersec = 0.7

# Gigakeys per second you can output doing vanity address mining.
gkeypersec = 0.05

# Trade multiplier - if not 1, sells not at the highest bid, but at this
#  multiple of it.  
tradeMultiplier = 1.01

# make sure our sell order is the lowest if tradeMultiplier > 1
tradeMultiplierCheck = False


################################################################################
[Sell]

# If you want to sell your coins ASAP after mining, enable an exchange here.
# This will automatically sell flagged coins for BTC ONLY.

# BTC-e
enableBTCE = False
# You'll need to configure your API key, secret, and a nonce in "key.sample".
# Rename this file to "key".

# VirCurEx
enableVircurex = False
vircurexUsername = VCEUSERNAME
vircurexSecret = APISECRET

# Cryptsy
enableCryptsy = False
cryptsyPublicKey = YOUR_CRYPTSY_API_PUBLIC_KEY
cryptsyPrivateKey = YOUR_CRYPTSY_API_PRIVATE_KEY

# Enable the coins you want to sell here.
sellALF = False
sellAMC = False
sellANC = False
sellARG = False
sellASC = False
sellAUR = False
sellBFC = False
sellBQC = False
sellBTB = False
sellBTE = False
sellBTG = False
sellCAP = False
sellCGB = False
sellCNC = False
sellCRC = False
sellDBL = False
sellDEM = False
sellDGC = False
sellDMD = False
sellDOGE = False
sellEAC = False
sellEMD = False
sellELC = False
sellEZC = False
sellFRC = False
sellFRK = False
sellFST = False
sellFTC = False
sellGDC = False
sellGLC = False
sellGLD = False
sellHBN = False
sellHYC = False
sellKGC = False
sellJKC = False
sellLBW = False
sellLKY = False
sellLOT = False
sellLTC = False
sellMEC = False
sellMEM = False
sellMNC = False
sellMOON = False
sellNBL = False
sellNRB = False
sellNVC = False
sellPPC = False
sellPWC = False
sellPXC = False
sellRYC = False
sellSBC = False
sellSPT = False
sellSXC = False
sellTGC = False
sellTIPS = False
sellTRC = False
sellUNO = False
sellWDC = False
sellXJO = False
sellYAC = False
sellZET = False
